/* Your code goes here */
#add_form {
    margin-bottom: 25px;
}

table {
    border-collapse: collapse;
}

.el_id {
    padding-right: 50px;
    border: 0;
}

.el_name input, .el_username input {
    border: 0;
    outline: none;
    color: black;
}

td {
    padding-right: 1px;
}

td, #add {
    border: 1px solid black;
    height: 21px;
}

td:nth-child(4),td:nth-child(5) {
    padding: 0;
}

button {
    outline: none;
}

.update, .delete {
    border: 0;
    width: 100%;
    height: 100%;
}

.hidden-true {
    display: none;
}
