/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */

:root {
  --bg-color--dark: #0b192f;
  --bg-color--medium: #162b4d;
  --text--color: #484848;
  --link: #fff;
  --link--hover: #b8b8b8;
}

body {
  font-family: roboto;
}

.post-1 {
  background: #F3D250;
}

.post-2 {
  background: #8D8741;
}

.post-3 {
  background: #659DBD;
}

.post-4 {
  background: #DAAD86;
}

/* Your styles go here */
body {
  background-color: #0B192F;
}

.content {
  margin-left: 3vw;
  margin-right: 3vw;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #162B4D;
}

.logo h1 {
  color: white;
  font-weight: 300;
  margin-left: 1vw;
}
.violet {
  color: #601E4F;
}

.main-nav {
  margin-left: 35vw;
}

.main-nav ul {
  display: flex;
  list-style-type: none;
}

.main-nav ul li {
  margin-left: 4vw;
  height: 100%;
}


.main-nav ul li a{
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.main-nav ul li:hover {
  color: #b8b8b8;
  background-color: #445570;
}