$body_bg: white;
$img_url: url("../img/m-h-day.jpg");
$logo_fam: 'Hind', sans-serif;
$logo_text: rgba(0, 0, 0, 0.65);
$header_color: black;
$header_opc: 0.65;
$full_opc: 1;
$header_text_fam: 'Hind', sans-serif;
$card_bg: #21232E;
$card_text_fam: 'Source Sans Pro', sans-serif;
$header_btn: #699900;
$med_opc: 0.8;
$word_color: #14A0C7;
$text_color: white;
$grad-left: #689801;
$grad-right: #2c5ade;
$foot_bg: #21232E;