$body_bg: #21232E;
$img_url: url("../img/m-h-night.jpg");
$logo_fam: 'Fresca', sans-serif;
$logo_text: rgba(255, 255, 255, 1);
$header_color: white;
$header_opc: 1;
$full_opc: 1;
$header_text_fam: 'Fresca', sans-serif;
$card_bg: #3B3F50;
$card_text_fam: 'Fresca', sans-serif;
$header_btn: #E3AC00;
$med_opc: 1;
$word_color: #FF4E33;
$text_color: white;
$grad-left: #e3ac01;
$grad-right: #8a2a51;
$foot_bg: #3B3F50;